* {
    font-family: 'Fjalla One', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

#movie-list li {
    border: 1px solid black;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 8px;
    padding: 6px;
    align-items: center;
    width: 150px;
    height: 200px;
    box-shadow: 5px 5px 3px;
    border-radius: 5px;
    text-align: center;
}

h2 {
    font-size: 15px;
}

.poster {
    height: 50%;
}

#page-section {
    font-size: 75%
}

.hidden {
    display: none;
}

.favorite-star {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 4px;
    color: #aaa;
    user-select: none;
}

.favorite {
    color: gold;
}

#detail-list-container {
    display: grid;
    grid-template-columns: 1fr 300px;
    padding: 10px;
}

#detail-header {
    font-size: 1.5em;
}

#detail-list-container.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.selected {
    background-color: lightgray;
}