ul {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

#movie-list li {
    border: 1px solid black;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 8px;
    padding: 6px;
    align-items: center;
    width: 150px;
    height: 200px;
    box-shadow: 5px 5px 3px;
    border-radius: 5px
}

h2 {
    font-size: 15px;
}

.poster {
    height: 50%;
}

.hidden {
    display: none;
}

.favorite-star {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 4px;
    color: #aaa;
    user-select: none;
}

.favorite {
    color: gold;
}